section.Contacto
	div.Contacto-right
		form.Contacto-form
			div.Puertos-titleContainer.Contacto-titleContainer
				h2.Puertos-mainTitle.Contacto-mainTitle
					|	Contáctenos
				div.Puertos-titleBorde.Contacto-titleBorde
			fieldset.Contacto-field
				label.Contacto-label
					|	Nombre
				input.Contacto-input(type="text")
			fieldset.Contacto-field
				label.Contacto-label
					|	Email
				input.Contacto-input(type="text")
			fieldset.Contacto-textAreaContainer
				label.Contacto-label
					|	Mensaje
				textarea.Contacto-textArea(type="text-area")
			fieldset.Contacto-buttonContainer
				input.Contacto-button(type="submit", value="enviar")