section.Puertos
	div.Puertos-banner
		img.Puertos-bannerImage(src="../images/oleoducto/banner.jpg")
		div.Puertos-bannerText
			img.Puertos-bannerLogo(src="../images/puertos/montero-logo.png")
			div.Puertos-bannerLetras
				img(src="../images/oleoducto/letras-banner.png")
	div.u-centrar
		div.Puertos-main
			div.Puertos-titleContainer
				h2.Puertos-mainTitle
					|	Oleoducto
				div.Puertos-titleBorde
			p.Puertos-description
				|	VTK-Service es una de las compañías más importantes del mundo en el diseño, construcción y desarrollo de proyectos de oleoductos y gasoductos; cuentan con  departamentos propio de sísmica y fabrican tubería acero carbono para la industria petrolera y de gas.
			div.Puertos-table
				div.Puertos-column
					div.Puertos-fancy
						div.Puertos-line1
						div.Puertos-line2
						div.Puertos-line3
						img.Puertos-logo(src="../images/puertos/montero-img-logo.png")
				div.Puertos-column
					div.Puertos-text
						h3.Puertos-title
							|	Objetivo
						p.Puertos-desc2
							|	La alianza estratégica entre  Montero Alliance S.A.S. Y VTK-Service hará posible entrar a formar parte de los macro proyectos de oleoductos y gasoductos en Sur y Centro América. 