section.Puertos
	div.Puertos-banner
		img.Puertos-bannerImage(src="../images/puertos/banner-2.jpg")
		div.Puertos-bannerText
			img.Puertos-bannerLogo(src="../images/puertos/montero-logo.png")
			div.Puertos-bannerLetras
				img(src="../images/aero/letras-banner.png")
	div.u-centrar
		div.Puertos-main
			div.Puertos-titleContainer
				h2.Puertos-mainTitle
					|	Aeronáutica
				div.Puertos-titleBorde
			p.Puertos-description
				|	Montero Alliance S.A.S. Contará con su propia flota de aviones de carga para ser más eficiente y ágil la exportación de las diferentes líneas a atender en los mercados internacionales
			div.Puertos-table
				div.Puertos-column
					div.Puertos-fancy
						div.Puertos-line1
						div.Puertos-line2
						div.Puertos-line3
						img.Puertos-logo(src="../images/puertos/montero-img-logo.png")