/*FOOTER*/
.Footer
	display inline-block
	width 100%
	background $black
	color $white
	
	&-redes
		display inline-block
		margin .5em 0
		width 100%
	&-redesIcon
		display inline-block
		width 35px
		height 35px
		line-height 35px
		font-size 1.2em
		color $gray
		margin .5em .3em
	&-copy
		display inline-block
		width 100%
		font-family "Century", sans-serif
		font-weight 400
		font-size 0.75em
		color $light_gray2