footer.Footer
	div.u-centrar
		div.Footer-redes
			a.Footer-redesIcon(href="#",target="_blank")
				span.icon-facebook
			a.Footer-redesIcon(href="#",target="_blank")
				span.icon-twitter
			a.Footer-redesIcon(href="#",target="_blank")
				span.icon-google-plus
		div.Footer-copy
			h5.Footer-copyText
				|	copyright © MONTEROALLIANCESASS 2016 - Diseño y desarrollo por PAXZU