section.Puertos
	div.Puertos-banner
		img.Puertos-bannerImage(src="../images/mineria/banner.jpg")
		div.Puertos-bannerText
			img.Puertos-bannerLogo(src="../images/puertos/montero-logo.png")
			div.Puertos-bannerLetras
				img(src="../images/mineria/letras-banner.png")
	div.u-centrar
		div.Puertos-main
			div.Puertos-titleContainer
				h2.Puertos-mainTitle
					|	Mina de Carbón
				div.Puertos-titleBorde
			p.Puertos-description
				|	Esta línea de negocio, trae consigo el proyecto de diferentes tipos de minas en las distintas regiones del país. Contaremos con una mina de carbón ubicada en la Guajira y en la Jagua de Ibirico; y minas de oro y hierro en las regiones de Antioquia y Tolima.
			div.Puertos-table
				div.Puertos-column
					img.Puertos-logo(src="../images/puertos/logo.png")
				div.Puertos-column
					h3.Puertos-title
						|	Objetivo
					ul.Puertos-list
						li.Puertos-listItem
							p
								|	Mina de carbón a cielo abierto en la Guajira.
						li.Puertos-listItem
							p
								|	Carbón Metalúrgico y Térmico.
						li.Puertos-listItem
							p
								|	La capacidad de carga en la Fase 1, es de 5.000 toneladas de carbón por hora. Actualmente el puerto tiene una capacidad de 30 millones de toneladas por año.
						li.Puertos-listItem
							p
								|	Reservas de 178 millones de toneladas.
						li.Puertos-listItem
							p
								|	Carbon tipo B con 12.800 BTU.