section.Puertos
	div.Puertos-banner
		img.Puertos-bannerImage(src="../images/refineria/banner.jpg")
		div.Puertos-bannerText
			img.Puertos-bannerLogo(src="../images/puertos/montero-logo.png")
			div.Puertos-bannerLetras
				img(src="../images/refineria/letras-banner.png")
	div.u-centrar
		div.Puertos-main
			div.Puertos-titleContainer
				h2.Puertos-mainTitle
					|	Refineria
				div.Puertos-titleBorde
			p.Puertos-description
				|	Uno de los proyectos de mayor embergadura y proyección internacional será la Refinería que Montero Alliance liderará.
			div.Puertos-table
				div.Puertos-column
					img.Puertos-logo(src="../images/puertos/logo.png")
				div.Puertos-column
					h3.Puertos-title
						|	Objetivo
					p.Puertos-desc2
						|	A mediados del 2016, Montero Aliance S.A.S. con una de sus empresas filiales, tiene proyectado el montaje y construcción de una refinería modular para 60.000 barriles día y una capacidad de almacenamiento de 5.400.000 barriles.