section.Puertos
	div.Puertos-banner
		img.Puertos-bannerImage(src="../images/refineria/banner.jpg")
		div.Puertos-bannerText
			img.Puertos-bannerLogo(src="../images/puertos/montero-logo.png")
			div.Puertos-bannerLetras
				img(src="../images/exportacion/letras-banner.png")
	div.u-centrar
		div.Puertos-main
			div.Puertos-titleContainer
				h2.Puertos-mainTitle
					|	Exportaciones
				div.Puertos-titleBorde
			p.Puertos-description
				|	Montero Alliance S.A.S. al contar con su propia flotilla de aviones de carga para vuelos interoceánicos, garantiza el cumplimiento y eficiencia en los embarques de las diferentes líneas de exportación.
			div.Puertos-table
				div.Puertos-column
					img.Puertos-logo(src="../images/puertos/logo.png")
				div.Puertos-column
					h3.Puertos-title
						|	Objetivo
					ul.Puertos-list
						li.Puertos-listItem
							p
								|	Para la primera etapa, se tienen proyectado  exportaciones de:
						li.Puertos-listItem
							p
								|	Carne,  80.000 kilos mes.
						li.Puertos-listItem
							p
								|	Frutas, 20.000 kilos mes.
						li.Puertos-listItem
							p
								|	Flores, 12.000 cajas mes.
						li.Puertos-listItem
							p
								|	Artículos de Marroquinería.