/*HEADER*/

.Header
	display inline-block
	width 100%
	background $black
	color $white
	float left
	position fixed
	left 0
	right 0
	z-index 10
	
	&-logo
		display inline-block
		float left		
		margin .5em	0	
		width 200px
		background url("../images/index/logo-montero-allianz-letras.png") center no-repeat
		background-size 100%
		font-size 1.6em
	&-logoImg
		display inline-block
		text-indent -9999px
		width 100%
	&-menu
		display inline-block
		float right
	&-mobile
		display inline-block
		vertical-align middle	
		font-size 2.2em
		line-height 1.7em
		margin-right .2em
				
	&-mobileMenu
	&-mobileRedes
		cursor pointer
		margin 0 .5rem
		
	&-mobileRedes
		font-size 1.8rem
		
	&-menuList
		display none
		// display inline-block
		// margin .5rem 0
		margin 0		
		padding 0
		list-style none
		font-size 0
	&-menuItem
		display inline-block
		border-right 1px solid $gray
		padding 0 1.6em
		height 55px
		line-height 55px
		font-size 1rem
		
		&:last-child
			border-right none
	&-menuLink
		cursor pointer
		color $white
		transition all .3s
		&:hover
			font-weight 700
		
	&-redes
		background $black
		display none
		width 100%
		text-align center
		position absolute
		top 59px
		left 0
		z-index 9
		
	&-redesIcon
		display inline-block
		width 35px
		height 35px
		line-height 35px
		font-size 1.2em
		color $white
		margin 0 .3em
/*Tablet Landscape*/
@media screen and (min-width:1024px)
	.Header	
		height 75px
		line-height 75px
		&-logo			
			// margin .5em 1em
			margin 0 1em
			width 337px
			// width auto
		&-mobile
			display none
		&-redes		
			display none !important
		&-menuList		
			display inline-block
@media screen and (min-width:1280px)
	.Header
		&-menuItem		
			padding 0 1.8em
			font-size 1.12rem