section.Puertos
	div.Puertos-banner
		img.Puertos-bannerImage(src="../images/puertos/banner.jpg")
	div.u-centrar
		div.Puertos-main
			div.Puertos-titleContainer
				h2.Puertos-mainTitle
					|	Puertos
				div.Puertos-titleBorde
			p.Puertos-description
				|	Colombia carece de una adecuada infraestructura para el embarque y transporte de Carbon para la exportación ( Ventanas), este es uno de los motivos por el cual la Compañía Montero Alliance SAS, tiene dentro de su pollítica de desarrollo, la expansión con Puerto Brisa.
			div.Puertos-table
				div.Puertos-column
					img.Puertos-logo(src="../images/puertos/logo.png")
				div.Puertos-column
					h3.Puertos-title
						|	Puerto Brisa
					p.Puertos-desc2
						|	Puerto privado de servicio público. Localizado en Dibulla, Guajira.  Costa norte de Colombia frente al mar Caribe.     Puerto único multipropósito de gran calado, especializado en productos al granel y líquidos. Se desarrollan actividades industriales, logísticas y manejo de carga en general. Cuenta con una Zona Franca especial y otra Zona Franca permanente donde se montará una Refinería.
					h3.Puertos-title
						|	Objetivo
					ul.Puertos-list
						li.Puertos-listItem
							p
								|	Area total, 1.362 hectáreas.
						li.Puertos-listItem
							p
								|	Barcos con capacidad de hasta 180.000 toneladas DWT.
						li.Puertos-listItem
							p
								|	Zona Franca permanente, 976 hectáreas para producción y exportación de carbón.
						li.Puertos-listItem
							p
								|	Zona franca especial, 200 hectáreas.
						li.Puertos-listItem
							p
								|	Muelle de 630 metros de longitud.
						li.Puertos-listItem
							p
								|	2 Muelles adicionales.
						li.Puertos-listItem
							p
								|	Batimetría, 66 pies.
						li.Puertos-listItem
							p
								|	Tecnologías limpias y amigables al medio ambiente.
						li.Puertos-listItem
							p
								|	Conectada con la Troncal del Caribe y la Autopista de Las Américas.
						li.Puertos-listItem
							p
								|	Linea de Ferrocarril recién aprobada Chiriguaná - Puerto Brisa.