@import "nib"
@import "normalize.styl"
@import url('https://fonts.googleapis.com/css?family=Raleway:400,300')

// /*ICONOS COMO FUENTES*/
@import "iconfonts.styl"

/*
* Fuente Century Ghotic
*/

@font-face
	font-family "Century-bold"
	src url(../fonts/century-gothic-bold.ttf)
	
@font-face
	font-family "Century"
	src url(../fonts/century-gothic.ttf)

$white = #FFF

$transparent_white = rgba(255,255,255,0.5)

$black = #000
$black2 = #1D1D1B

$transparent_black = rgba(29,29,27,0.9)
$transparent_black2 = rgba(0,0,0,0.5)
$transparent_black3 = rgba(0,0,0,0.7)

$gray = #999998
$gray2 = #706F6F
$gray3 = #666
$gray4 = #C2C2C2

$light_gray = #EDEDEE
$light_gray2 = #999998
$light_gray3 = #E9E9E9

$lima = #DCE442

html
	font-size 16px
	font-family 'Raleway', sans-serif /* Fuente de google fonts */
	height 100%

body
	background $white
	height 100%
	
img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
.u-centrar
	margin 0 auto
	max-width 1200px
	text-align center
	
/*HEADER*/
@import "../components/Header/estilos.styl"

/*PANELS*/
@import "../components/Panels/estilos.styl"

/*PUERTOS*/
@import "../components/Puertos/estilos.styl"

/*ABOUT*/
@import "../components/About/estilos.styl"

/*SOCIAL*/
@import "../components/Social/estilos.styl"

/*CONTACTO*/
@import "../components/Contacto/estilos.styl"

/*MENU*/
@import "../components/Menu/estilos.styl"

/*FOOTER*/
@import "../components/Footer/estilos.styl"


/*OWL CAROUSEL*/
@import "owl.carousel.styl"
@import "owl-default-theme.styl"