@import "nib"
@import "normalize.styl"
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300')

// /*ICONOS COMO FUENTES*/
// @import "iconfonts.styl"

/*
* Fuente Century Ghotic
*/

// @font-face
// 	font-family "Century-bold"
// 	src url(../fonts/century-gothic-bold.ttf)
	
// @font-face
// 	font-family "Century"
// 	src url(../fonts/century-gothic.ttf)

$white = #FFF

$black = #000

html
	font-size 16px
	font-family 'Lato', sans-serif /* Fuente de google fonts */

body
	background-color red
	
img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
.u-centrar
	margin 0 auto
	max-width 1200px
	text-align center
	
/*HEADER*/
// @import "../components/Header/estilos.styl"


/*OWL CAROUSEL*/
@import "owl.carousel.styl"
@import "owl-default-theme.styl"