@import "nib"
@import "normalize.styl"
@import url('https://fonts.googleapis.com/css?family=Raleway:400,300')

// /*ICONOS COMO FUENTES*/
@import "iconfonts.styl"

/*
* Fuente Century Ghotic
*/

@font-face
	font-family "Century-bold"
	src url(../fonts/century-gothic-bold.ttf)
	
@font-face
	font-family "Century"
	src url(../fonts/century-gothic.ttf)

$white = #FFF

$black = #000
$black2 =#1D1D1B

$gray = #999998
$gray2 =#706F6F

$light_gray = #EDEDEE
$light_gray2 = #999998

html
	font-size 16px
	font-family 'Raleway', sans-serif /* Fuente de google fonts */
	height 100%

body
	background $white
	height 100%
	
img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
.u-centrar
	margin 0 auto
	max-width 1200px
	text-align center
	
/*HEADER*/
@import "../components/Header/estilos.styl"

/*PUERTOS*/
@import "../components/Puertos/estilos.styl"

/*FOOTER*/
@import "../components/Footer/estilos.styl"


/*OWL CAROUSEL*/
@import "owl.carousel.styl"
@import "owl-default-theme.styl"