/*ABOUT*/
.About
	&-bannerFondo
		background $black url("../images/about/banner.jpg") center right
		background-repeat no-repeat

	&-banner
		width 100%
	&-bannerText
		display inline-block		
		color $gray4
		padding 15px 25px
		margin 20px		
	&-mainTitle
		color $white
		text-transform uppercase
		font-weight 400
		font-size 2.1em
		margin 0.63em 0 0.3em
	&-mainDesc
		font-weight 400
		font-size 1.06em
		color $gray4
		text-align justify		
	&-desc2
		display inline-block
		width 100%		
		text-align justify
		font-weight 400
		font-size 1.06em
		color $gray2
		margin .5em 0
/*Tablet Landscape*/
@media screen and (min-width:1024px)
	.About
		&-bannerFondo
			background $black url("../images/about/banner.jpg") center
		&-bannerText			
			text-align left			
			padding 51px 74px
			float right
			margin 0
		&-mainTitle
			font-size 2.5em
			margin 0.83em 0 0.3em
		&-mainDesc		
			max-width 392px
		&-desc2
			max-width 414px