section.Puertos
	div.Puertos-banner.About-bannerFondo
		//- img.Puertos-bannerImage(src="../images/about/banner.jpg")
		div.u-centrar.About-banner
			div.About-bannerText
				img.About-bannerLogo(src="../images/about/montero-logo.png")
				div.About-bannerLetras
					h1.About-mainTitle
						|	Quiénes Somos
					p.About-mainDesc
						|	Somos un holding empresarial que trabaja en las áreas de Puertos, Aeronáutica, Minería, Oleoductos, Refinería, Exportación y Educación poniendo al servicio nuestra experiencia para generar desarrollo económico y transformación social en Colombia y Latinoamérica.
	div.u-centrar
		div.Puertos-main
			div.Puertos-table
				div.Puertos-column
					h3.Puertos-title
						|	VISIÓN
					p.About-desc2
						|	Seremos un motor de desarrollo, empleo y oportunidades con un alto sentido social y ambiental.  Montero Alliance SAS, será una de las empresas de mayor generación de empleo en el país.
				div.Puertos-column
					h3.Puertos-title
						|	MISIÓN
					p.About-desc2
						|	Generar y compartir riqueza aportando crecimiento y desarrollo al sector mineroenergético a través de nuestras actividades con un profundo respeto por los recursos naturales, trabajando con empresarios de Colombia y Latinoamérica.