section.Social
	div.u-centrar
		div.Puertos-main
			div.Puertos-titleContainer
				h2.Puertos-mainTitle
					|	Responsabilidad Social empresarial
				div.Puertos-titleBorde
			p.Puertos-description
				|	Este holding empresarial, es consciente de la importancia del desarrollo de proyectos beneficiosos que generen impacto en la sociedad. Por esta razón, Montero Alliance SAS, enfoca sus prácticas de responsabilidad social empresarial en el ámbito educativo y de salud pública.
			div.Social-list
				div.Social-item
					h4.Social-title
						|	UNIVERSIDAD
					p.Social-desc2
						|	La universidad es un proyecto que nace con el fin de socializar los trabajos  de la compañía en los sitios donde se va a causar impacto para que la gente menos favorecida tenga acceso a hacer una carrera tecnológica o universitaria, lo mismo que el aprendizaje de un segundo Idioma.
				div.Social-item
					h4.Social-title
						|	SALUD
					p.Social-desc2
						|	Un programa  de salud pública comunitaria respetando las medicinas ancestrales.
				div.Social-item
					h4.Social-title
						|	AGUA POTABLE
					p.Social-desc2
						|	Plantas de producción de agua por un proceso de humificación que generan 10.000 litros de agua  100% potable. dependiendo de su ubicación, serían abastecidas por energía solar.